<html>
    <head>
        <title>Company E / Team 5</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <h1>
    About Us
    </h1>
    <body>
      <form class="button" action="/">
          <input type="submit" value="Back to home" />
      </form>
      </form>
      <form class="button" action="/jaysin">
        <input type="submit" value="Jaysin's Page" />
      </form>
      <form class="button" action="/john">
        <input type="submit" value="John's Page" />
      </form>
      <form class="button" action="/rodrick">
        <input type="submit" value="Christian's Page" />
      </form>
      <form class="button" action="/oley">
        <input type="submit" value="Oley's Page" />
      </form>
    </body>
</html>
