<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      <input type="text" name="name" placeholder="Student's name" list="names"><br><br>
      <datalist id="names">
        <option value="Oley"></option>
        <option value="Christian"></option>
        <option value="John"></option>
        <option value="Jaysin"></option>
      </datalist>
      <textarea name="comment" placeholder="Comment"></textarea><br><br>
      <input type="submit" placeholder="Student's name">
    </form>
    <br>
    <h2>Comments</h2>
    <div id="comments"><%- comments -%></div>
  </body>
</html>
