<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="feedback.css">
  </head>
  <body>
    <form method="post">
      <input type="text" name="name" placeholder="Student's name"><br><br>
      <textarea name="comment" placeholder="Comment"></textarea><br><br>
      <input type="submit" placeholder="Student's name">
    </form>
    <br>
    <h2>Comments</h2>
    <div id="comments">
      <% for (var i = 0; i < comments.length; i++) { %>
        <b><%= comments[i].name %>:</b> <%= comments[i].comment %><br>
      <% } %>
    </div>
    <form class="button" action="/">
      <input type="submit" value="Home" />
    </form>
    <form action='/feedback' method='post'>
        <input type='hidden' name='clear' value='true'>
    </form>
  </body>
</html>
