html
  head
    title Joe
  body
    h1 This be the homepage for da website
    p Whos ready to be an epic gamer!
    a(href="/second") Christian
    br
    a(href="/oley") Oley
    br
    a(href='/john') John
    br
    a(href='jaysin') Jaysin
