<html>
  <title> Jaysin's Page </title>
  <h1> Welcome to Jaysin's Page.</h1>
  <p>Hi my name is Jaysin, Some bits about me is that I like to game, Im not a huge fan of OneDrive as it can be pretty stupid at at times. I dont really have any career goals for myself at the moment, but if I had to chose I would say something along the lines with game design</p>
a(href="/") Home
