<html>
    <head>
        <body>
        <meta charset="utf-8">
        <title>Jaysin's Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <h1>
     Welcome to Jaysin's Page.
    </h1>
    <div id="btnform">
    <div id="btnbox">
    <p>
      Hi my name is Jaysin H, and this is my about page.<br>
      Im not a huge fan of OneDrive as it can be pretty stupid at at times. <br>
      Im not to social around people I dont know but around friends I can be talkative.<br>
      I dont really have any career goals for myself at the moment, but if I had to chose I would say something along the lines with game design.<br>
      The concept for this game is pretty weird, as it's more on little nods about me. A lot of easter egg ideas. <br>
    </p>
    <form class="button" action="/">
        <input type="submit" value="Back to home" />
    </form>
</html>
