//Sets up ExpressJS
const express = require('express');
const app = express();
const port = 8069;

//Logs whenever someone joins the website
app.listen(port, () => {
  console.log('Success! You're a sussy baka')
});

<html>
  <title> Jaysin's Sussy Emporium </title>
  <p> When the impostor is sus </p>
