<html>
<head>
    <body>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
    <h1>
    John's Sussy Emporium
    </h1>
      <p>
        I hate OneDrive.<br>
        I play agressive rampart.<br>
        I want to program 10 ft tall robots to stalk around my house with murderous intent.
      </p>
    <form class="button" action="/">
        <input type="submit" value="Back to home" />
    </form>
</html>
