<html>
  <title> John's Sussy Emporium </title>
  <h1> The best page (A.K.A John's page) </h1>
  <p> I hate OneDrive, I play agressive rampart, I want to program 10 ft tall robots to stalk around my house with murderous intent. </p>
a(href="/") Home
</html>
