<html>
  <title>Oley Birkeland</title>
  <p>My specialties include web design and JavaScript. I hope to start a career as a programmer in the future, possibly as a web or game developer. ඞ</p>
  a(href="/home") Home
