<html>
  <title> Christian's Sussy Emporium </title>
  <p>I enhjoy to rollerskate and listen to music, i play Plague on DBD and i tend to like being around people and have conversations about random stuff</p>
a(href="/") Home
