.button {
  margin-top: 50px;
text-align: bottomleft;
}

h1 {
  text-align: center;
  color: grey;
  font-size: 45px;
}

h2 {
  text-align: left;
}

p {
  text-align: center;
  font-size: 20px;
  color: lime;
}

.column1 {
  float: left;
  width: 33.33%;

}
.column2 {
  float: right;
  vertical-align: bottom;
  width: 33.33%
}

body {
  background-image: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/22661971/img20.jpg);
  background-size: 100%;
}
html {
  color: white;

}

.bottomleft{
  position: absolute;
  bottom: 8px
  left: 100px;
}

div {
  text-align: bottomleft;
  font-size: 30px;
  color: lime;
}
